<ion-content>
  <div class="signup-center">
    <img id="logo" src="../../../assets/images/yummy.jpg" /><br />

    <form [formGroup]="signupForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Prénom :</ion-label>
              <ion-input formControlName="firstname" type="text" placeholder="John" [class.invalid]=" !signupForm.controls['firstname'].valid && signupForm.controls['firstname'].touched"></ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="!signupForm.controls['firstname'].valid && signupForm.controls['firstname'].touched">
              <ion-label position="stacked">
                Votre prénom est obligatoire !
              </ion-label>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label position="stacked">Nom :</ion-label>
              <ion-input formControlName="lastname" type="text" placeholder="Doe"  [class.invalid]="!signupForm.controls['lastname'].valid && signupForm.controls['lastname'].touched"></ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="!signupForm.controls['lastname'].valid && signupForm.controls['lastname'].touched">
              <ion-label>Votre nom de famille est obligatoire !</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label position="stacked">Email:</ion-label>
        <ion-input formControlName="email" type="email" placeholder="johndoe@example.com" [class.invalid]=" !signupForm.controls['email'].valid && signupForm.controls['email'].touched"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
        <ion-label>Veuillez taper une adresse de messagerie valide!</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Mot de passe:</ion-label>
        <ion-input formControlName="password" type="text" placeholder="Entre 8 à 16 caractères" [class.invalid]=" !signupForm.controls['password'].valid && signupForm.controls['password'].touched"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
        <ion-label>Votre mot de passe doit contenir entre 8 et 16 caracteres!</ion-label>
      </ion-item><br>

      <ion-button expand="block" color="success" (click)="signupUser(signupForm)" [disabled]="!signupForm.valid">
        Creer mon compte
      </ion-button><br>

      <ion-button class="ion-text-capitalize" expand="block" fill="clear" color="primary" href="/login" >
        J'ai déjà un compte
      </ion-button><br><br>

    </form>
  </div>
</ion-content>
