<ion-content>
  <div class="login-center">
    <img id="logo" src="../../../assets/images/logo.png" /><br />

    <form [formGroup]="loginForm">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Tapez votre email" [class.invalid]=" !loginForm.controls['email'].valid && loginForm.controls['email'].touched"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
        <p>Veuillez taper un email valide</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Tapez votre mot de passe" [class.invalid]=" !loginForm.controls['password'].valid && loginForm.controls['password'].touched" ></ion-input>
      </ion-item>
      <ion-item class="error-message"  *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
        <p>Votre mot de passe doit avoir 8 caractères minimum!</p>
      </ion-item>

      <br />
      <ion-button fill="solid" color="success" (click)="loginUser(loginForm)" expand="block" [disabled]="!loginForm.valid">
        Connexion
      </ion-button>
    </form>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="ion-text-capitalize" fill="clear" (click)="googleLogin()" expand="block">
            <ion-icon name="logo-google"></ion-icon> &nbsp; Google
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="ion-text-capitalize" fill="clear" expand="block">
            <ion-icon name="logo-facebook"></ion-icon> &nbsp; Facebook
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <a text-center id="login-pass-forgotten" expand="block" fill="clear" routerLink="/reset-password"> Mot de passe oublie?</a>

    <ion-button expand="block" fill="clear" color="primary" routerLink="/home"> Decider plus tard</ion-button>
  </div>
</ion-content>
