<ion-app>
  <ion-menu side="start" menuId="contentMenu">
    <ion-content>
      <div class="side-menu-div-1">
        <img src="../assets/images/biznisfanm-logo.png" alt="">
      </div>
      <ion-list lines="full">
        <ion-list-header>
          <ion-label color="primary">MENU PRINCIPAL</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-icon color="light" slot="start" name="document-outline"></ion-icon>
          <ion-button fill="clear" (click)="openRoute('member-signup-form')" color="light">Inscription</ion-button>
        </ion-item>
          <ion-item>
            <ion-icon color="light" slot="start" name="settings-outline"></ion-icon>
            <ion-button fill="clear" (click)="openRoute('settings')" color="light">Paramètres</ion-button>
          </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="contentMenu" main></ion-router-outlet>
</ion-app>
