<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Femme d'Affaires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-home-slider-top></app-home-slider-top>

  <div class="home-main-ctner">

    <ion-text class="select-category">SELECTIONNER UNE CATEGORIE</ion-text>

    <div class="home-category-section">
      <a  *ngFor="let category of categoryList" routerLink="/businesses-list/{{category.id}}">
        <div class="home-category-item">
          {{category?.name}}
        </div>
      </a>
    </div>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label> Accueil </ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="news">
          <ion-icon name="newspaper-outline"></ion-icon>
          <ion-label> Nouvelles </ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="settings">
          <ion-icon name="settings-outline"></ion-icon>
          <ion-label> Paramètres </ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
