<ion-header class="header" translucent="true">
  <ion-toolbar class="head" color="translucent">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <img src="../../../assets/images/slide1.jpg" alt="">


  <app-home-slider-top></app-home-slider-top>


  <h3 class="ion-text-center">TOUTES LES CATEGORIES</h3>

  <div class="category-list">
    <div *ngFor="let category of categoryList" routerLink="/businesses-list/{{category.id}}/{{category?.name}}" class="category-item">
      <div class="ion-text-center">
        <ion-icon size="large" src="../../../assets/my-custom-icons/svg/{{category?.icon}}.svg"></ion-icon>
        <p class="cat-name">{{category?.name}}</p>
        <p *ngIf="category?.length < 1"> 0 </p>
      </div>
      <div class="card-thumbnail" [style.backgroundImage]=""></div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button href="mailto:contact@ccfeh.com" expand="full" fill="clear" color="secondary">
            <ion-icon slot="start" name="mail-unread-outline"></ion-icon>
            Contactez-nous
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" fill="clear" color="secondary">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            A propos
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-toolbar>
</ion-footer>
