<ion-header class="header" translucent="true">
  <ion-toolbar class="head" color="translucent">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <app-home-slider-top></app-home-slider-top>



  <div class="category-list">
    <h3 class="ion-text-center">TOUTE LES CATEGORIES</h3>
    <div *ngFor="let category of categoryList" routerLink="/businesses-list/{{category.id}}/{{category?.name}}" class="category-item">
      <div class="ion-text-center">
        <ion-icon size="large" src="../../../assets/my-custom-icons/svg/{{category?.icon}}.svg"></ion-icon>
        <p class="cat-name">{{category?.name}}</p>
      </div>
      <div class="card-thumbnail" [style.backgroundImage]=""></div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-tabs color="secondary">
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label> Accueil </ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="settings">
          <ion-icon name="settings-outline"></ion-icon>
          <ion-label> Paramètres </ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
