<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ajouter une catégorie</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="announcementCategoryForm"> 
    <ion-item>
      <h3> {{ modalTitle }} </h3>
      <ion-label position="stacked">Nom de la catégorie</ion-label>
      <ion-input formControlName="categoryName" type="text" [(ngModel)]="name"  [class.invalid]="!announcementCategoryForm.controls['categoryName'].valid && announcementCategoryForm.controls['categoryName'].touched">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!announcementCategoryForm.controls['categoryName'].valid && announcementCategoryForm.controls['categoryName'].touched">
      <p>Votre titre de campagne doit avoir entre 5 et 20 caractères.</p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Slug de la catégorie:</ion-label>
      <ion-input formControlName="categorySlug" type="text" value="" [class.invalid]="!announcementCategoryForm.controls['categorySlug'].valid && announcementCategoryForm.controls['categorySlug'].touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!announcementCategoryForm.controls['categorySlug'].valid && announcementCategoryForm.controls['categorySlug'].touched">
      <p>Votre titre de campagne doit avoir entre 5 et 20 caractères.</p>
    </ion-item>

    <br/>
    <ion-button expand="block" [disabled]="!announcementCategoryForm.valid" (click)="createAnnouncementCategory(announcementCategoryForm)">
      {{ modalSubmitBtn }}
    </ion-button>
    <br/><br/>
  </form>
</ion-content>